<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <title>Tax Doctor - Affordable accounting, bookkeeping, payroll and tax returns</title>
    <link href="@Url.Content("~/Content/NewLook.css")" rel="stylesheet" type="text/css" />
    <link href="/apps/intl/en/css/apps-button-hp.css" rel="stylesheet">

    <script src="@Url.Content("~/Scripts/jquery-1.5.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

    <meta content="We offer an affordable service for all your tax concerns including accounting, bookkeeping, training and personal tax returns."
        name="description">
    <meta content="tax, bookkeeping, bookkeeper, payroll, paye, irp5, irp6, it12, it14, emp201, emp501, vat201, cashflow, financial statements, company formations, annual returns, cipc, cipro, sars, sars easyfile, tax sumbission, workmans compensation, audits, quickbooks, pastel payroll, excel, sdl, uif, ck, tax clearance certificates, accounting officer"
        name="keywords">
</head>
<body>
    <div id="header">
        <img class="image-package" alt="" src="@Url.Content("~/Content/images/taxdoctorlogo.png")">
        <h1>Tax Doctor
        </h1>
    </div>
    <ul id="nav">
        <li>@Html.ActionLink("Home", "Index", "Home")
        </li>
        <li><strong>Our Services</strong>
            <ul>
                <li>@Html.ActionLink("Accounting", "Accounting", "Services")</li>
                <li>@Html.ActionLink("Bank Loan Applications", "BankLoanApplications", "Services")</li>
                <li>@Html.ActionLink("Bookkeeping", "Bookkeeping", "Services")</li>
                <li>@Html.ActionLink("Company Formations", "CompanyFormations", "Services")</li>
                <li>@Html.ActionLink("Payroll", "Payroll", "Services")</li>
                <li>@Html.ActionLink("Tax Services", "TaxServices", "Services")</li>
            </ul>
        </li>
        <li>
        <li>@Html.ActionLink("Training", "Training", "Training")
        </li>
        <li>@Html.ActionLink("About Us", "About", "Home")
        </li>
    </ul>
    <div id="stage">@*
        <h2>
            Tax Doc
        </h2>*@
    </div>
    <div id="article">
        <div class="contactus">
            <div id="ContactForm">
                @{ Html.RenderAction("ContactUs", "Contact"); }
            </div>
        </div>
        @RenderBody()
    </div>
    <div id="footer">
        <div>
            <dl>
                <dt>Our Services </dt>
                <dd>@Html.ActionLink("Accounting", "Accounting", "Services")</dd>
                <dd>@Html.ActionLink("Bank Loan Applications", "BankLoanApplications", "Services")</dd>
                <dd>@Html.ActionLink("Bookkeeping", "Bookkeeping", "Services")</dd>
                <dd>@Html.ActionLink("Company Formations", "CompanyFormations", "Services")</dd>
                <dd>@Html.ActionLink("Payroll", "Payroll", "Services")</dd>
                <dd>@Html.ActionLink("Tax Services", "TaxServices", "Services")</dd>
            </dl>
            <dl>
                <dt>Training</dt>
                <dd>
                    @Html.ActionLink("Training", "Training", "Training")
                </dd>
            </dl>
        </div>
        <div id="meta">
            © 2012 Tax Doctor
            <ul>
                <li><a href="http://twitter.com/taxdoctorsa">
                    <img alt="Twitter" src="@Url.Content("~/Content/images/twitter.png")"></a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
