@{
    ViewBag.Title = "Home Page";
}
@*@section header{

}*@
<div>
    <div class="section">
        <img class="image-section" alt="" src="@Url.Content("~/Content/images/Home/taxdoctor.jpg")">
        <h2>@ViewBag.Message</h2>
        @*<img class="image-title" alt="" src="@Url.Content("~/Content/images/taxdoctor-scope.jpg")">*@

        <p>
            Offering an affordable service for both small businesses and individuals. We like to build a relationship with our clients so we can offer a personalised service for you and your business. We have over 25 years experience in many industries including motor trade and servicing, manufacturing, construction, retail, health services, food and many more.
        </p>
    </div>
    @*<div class="section">
    <h2>Tax Doctor news
        @ViewBag.Message
    </h2>
</div>*@
    <div class="sections type-4">
        <div class="section pos-1">
            <h2>
                <img class="image-section" alt="" src="@Url.Content("~/Content/images/Home/tax.jpg")">
                Personal and Business Tax</h2>
            <dl>
                <dt>Let us take care of your tax so you have more time for business and pleasure.</dt>
                <br />
                Tax Returns and Payments include:
            <ul class="alt">
                <b>Individual:</b>
                <li>IT12, IRP5, IRP6</li>
                <b>Business:</b>
                <li>IT14, IRP6, VAT201, EMP201, EMP501</li>
            </ul>
                Our services include resolving of tax audit queries/penalties.
            </dl>
        </div>
        <div class="section pos-2">
            <h2>
                <img class="image-section" alt="" src="@Url.Content("~/Content/images/Home/taxtraining.jpg")">
                Training</h2>
            Help bring down your costs by investing in training your employees in the following:
            <ul class="alt">
                <b>Accounting packages:</b>
                <li>Quickbooks</li>
                <li>Pastel Payroll</li>
                <b>Other:</b>
                <li>Excel</li>
                <li>Bookkeeping training</li>
            </ul>
        </div>
        <div class="section pos-3">
            <h2>
                <img class="image-section" alt="" src="@Url.Content("~/Content/images/Home/taxcalculator.jpg")">
                Small Business Services
            </h2>
            <dl>
                <ul class="alt">
                    <b>Accounting/Bookkeeping:</b>
                    <li>Financial Statements - Balance sheet, income statement, etc.</li>
                    <li>Data capture into accounting package</li>
                    <li>Sundry Reports</li>
                    <li>Cashflows</li>
                    <li>Creditors/Suppliers reconciliations</li>
                    <li>Debtors/Customers reconciliations and/or credit control</li>
                    <b>Other services:</b>
                    <li>Business plans for loans</li>
                    <li>CIPC - Company formations and annual returns</li>
                </ul>
            </dl>
        </div>
    </div>
    <div class="section">
        <h2>Pricing
        </h2>
        Pricing includes preparation and sumbission to SARS of applicable documents.
        <br />
        <br />
        We offer competetive pricing for our services. Please contactus us if there are any other services you require or if you would prefer a tailored quote.
        <div>
            <table>
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Business</th>
                        <th scope="col">Individual</th>
                    </tr>
                </thead>
                <tbody>                    
                    <tr>
                        <th scope="row">Bookkeeping</th>
                        <td>from 2,000 p/m</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3"/>
                    </tr>
                    <tr>
                        <th scope="row">Payroll</th>
                        <td>from 1,500 p/m</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3"/>
                    </tr>
                    <tr>
                        <th scope="row">IT12</th>
                        <td>from 1,500</td>
                        <td>from 750</td>
                    </tr>
                    <tr>
                        <th scope="row">IRP5</th>
                        <td>from 250</td>
                        <td>from 250</td>
                    </tr>
                    <tr>
                        <th scope="row">IRP6</th>
                        <td>from 250</td>
                        <td>from 250</td>
                    </tr>
                    <tr>
                        <th scope="row">Financial Statements</th>
                        <td>from 2,200 p/m</td>
                    </tr>
                    <tr>
                        <th scope="row">IT14</th>
                        <td>from 1,500</td>
                    </tr>
                    <tr>
                        <th scope="row">EMP501 + IRP5 Reconcilliation</th>
                        <td>from 1,500</td>
                    </tr>
                    <tr>
                        <th scope="row">Workmans Compensation</th>
                        <td>from 750</td>
                    </tr>
                    <tr>
                        <th scope="row">VAT Audits</th>
                        <td>from 750</td>
                    </tr>
                    <tr>
                        <th scope="row">Tax Queries</th>
                        <td>from 500</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <strong>Training (minimum no. of hours applicable)</strong>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Accounting</th>
                        <td>250 p/h</td>
                        <td>250 p/h</td>
                    </tr>
                    <tr>
                        <th scope="row">Quickbooks and Excel</th>
                        <td>250 p/h</td>
                        <td>250 p/h</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
    </div>
</div>
